.loader{
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: @color-dark;
    z-index: @back;
    display: block;
  }
  .spinner{
    position: fixed;
    z-index: @front;
    color: @color-light;
    height: 20%;
    margin: 40% auto;
  }
}

.page{
  z-index: @front;
}

.panel{
  padding: @space;
  .gradient(@bg,darken(@bg,10%));
}

.tile{
  background: @color-light;
  padding: 1em;
  text-align: center;
  .measure{
    font-size: 1.5em;
    font-weight: bolder;
  }
  .unit{
    font-size: 1em;
  }
  .symbol{
    font-size: 3em;
    font-weight: bolder;
  }
}

.topbar{
  height: 10%;
  background: @blue;
  color: @color-light;
  font-weight: bolder;
  text-transform: uppercase;

  .left{
    text-align: left;
  }
  .center{
    text-align: center;
  }
  .right{
    text-align: right;
  }

}

.inner{
  padding: 1em;
}

.page{
  background: beige;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: @front;
  .transition(transform,0.5s,ease); 
  transform: translate3d(100%, 0, 0);
  &.is-visible{
    transform: translate3d(0, 0, 0);
  }
}

.operation{
  height: 30%;
  background: @color-dark;
  span{
    height: 100%;
    padding: 60px 0;
    line-height: 60px;
    font-size: 60px;
    text-align: center;
    color: #FEFEFE;
    font-weight: bolder;
    &.result{
      background: #FEFEFE;
      color: @blue;
    }
  }
}

.keyboard{
  height: 50%;
  .tile{
    cursor: pointer;
    height: 25%;
    padding: 0;
    .gradient(#555,#333);
    color: #FEFEFE;
    border-right: solid 1px #777;
    &:nth-child(3n){
      border-right: none;
    }
    &:active{
      .gradient(@green,darken(@green,4%));
    }
  }
}

.action{
  height: 20%;
  &>div{
    height: 100%;
    .correction,.next{
      height: 100%;
      width: 100%;
    }
  }
}

.feedback{
  display: none;
  .overlay{
    opacity: .7;
    position: absolute;
    background: #555;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: @middle;
  }
  .inner{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #FFF;
    color: #555;
    font-size: 40px;
    text-align: center;
    z-index: @front;
    .box-shadow(0,0,3em,#000);
  }
}

.link{
  cursor: pointer;
  color: #333;
  &:hover{
    color: @blue;
  }
}
